<!-- 系统警告弹窗 -->
<div class="modal fade" id="alert_win" tabindex="-1" role="dialog" aria-labelledby="alertLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm alert-modal-position">
        <div class="modal-content">
            <div class="alert-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alertLabel">系统提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="alert-modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancle_creating">知道了</button>
            </div>
        </div>
    </div>
</div>

<!-- 系统消息弹窗 -->
<div class="toast-content alert" role="alert">
  <strong class="strong"></strong><span></span>
</div>

<!-- 系统确认弹窗 -->
<div class="modal fade" id="confirm_win" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm alert-modal-position">
        <div class="modal-content">
            <div class="alert-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmLabel"></h4>
            </div>
            <div class="modal-body" id="confirm_content"></div>
            <div class="alert-modal-footer">
                <button type="button" class="btn btn-primary" id="positiveBtn"></button>
                <button type="button" class="btn btn-default" id="negativeBtn"></button>
            </div>
        </div>
    </div>
</div>